/* .AppHeader {
    background-color: grey;
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    text-align: left;
    box-shadow: 0px 3px 5px rgba(37, 37, 37, 0.342);
} */
