.find-label {
    box-shadow: 4px 4px 4px rgba(70, 70, 70, 0.1), -4px -4px 4px rgba(10, 10, 10, 0.1),
        inset 12px 12px 12px rgba(70, 70, 70, 0.1), inset -12px -12px 12px rgba(10, 10, 10, 0.1);
}
.find-label:focus-within {
    box-shadow: -4px -4px 8px rgba(70, 70, 70, 0.1), 4px 4px 8px rgba(10, 10, 10, 0.1),
        inset -12px -12px 24px rgba(70, 70, 70, 0.1), inset 12px 12px 24px rgba(10, 10, 10, 0.1);
    border-radius: 0.5rem;
    border: 2px solid rgba(239, 246, 255, 0.5);
}
