.main-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.App {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #a29bfe 74%);
}
