@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HelvethaicaMon";
    src: url(./fonts/HelvethaicaMon75.ttf) format("truetype");
}

body {
    font-family: "HelvethaicaMon", "Kanit";
}
